

/*
Author: Bootstrapthemes
Author URI: http://www.xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) {
    body {
        font-size: 1rem;
    }

    .col-md-2.point5 {
        width: 20%;  
   }

}



/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    .sm-text-center{
        text-align: center !important;
    }
    .sm-pull-none{
        float: none !important;
    }
    .sm-m-top-10{
        margin-top:10px;
    }
    .sm-m-top-20{
        margin-top:20px;
    }
    .sm-m-top-30{
        margin-top:30px;
    }
    .sm-m-top-50{
        margin-top:50px;
    }

    .trick_info a, .trick_info h6{
        font-size: 20px;
    }
    .trick_description {
    padding: 25px 0;
    }

    .content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .container {
        width: 100%;
    }

}

/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    h2{
        font-size:2rem;
    }
    p{
        font-size:90%;
        line-height: 2rem;
    }
    .xs-pull-none{
        float: none !important;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-m-top-10{
        margin-top:10px;
    }
    .xs-m-bottom-10{
        margin-bottom:10px;
    }
    .xs-m-bottom-20{
        margin-bottom:20px;
    }
    .main_testimonial .testimonial_slid .slick-arrow.nextprevright {
        top: -150px;
    }

    .trick img {
        margin: auto;
        max-height: 170px;
    }

    .page-wrapper-login {
        margin: 0 20px;
    }

    .page-wrapper-register {
        margin: 0 20px;
    }

    .btn-login {
        font-size: 14px;
    }

    .home_text h1 {
        font-size: 3rem;
    }

    .main_home {
        padding-bottom: 200px;
        padding-top: 100px
    }

    .trick_comment_form {
        padding: 20px 0;
    }

    textarea#userbundle_comment_content.form-control {
        height: 70px;
    }

    div.form-edit {
        margin: auto;
        width: 100%;
         padding-top: 15px;
    }

}




/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 85%;
    }
    .testimonial_slid .slick-arrow {
        display: none;
    }

    p {
        margin: 0 0 7px; 
    }

    .form-comment div {
        display: block;
        margin-bottom: 15px;
    }

    .trick_comment_form {
        padding: 20px 0 10px 0;
    }

    .form_comment_content button{
        text-align: center;
    }
}





@media (max-width: 400px) {


}

@media (max-width: 320px) {
    html {
        font-size: 60.5%;
    }
    .btn.btnxs{
        padding:2.01rem 1.5rem;
    }

}
