{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Modifier le Trick {{trick.name}}{% endblock %}

{% block sections_body %}

<div class="home_tricks">

  <div class="container content">
    <div class="row page-wrapper">

      <section class="trick_header">
        <div class="trick_info_details pull-right">
          <div class="trick_update">
            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </div>
          <div class="trick_delete">
            <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="trick_image">
          <div class="row">
            <div class="col-md-12">
              <div class="home_text">
                <h1 class="text-blue wow fadeInLeft" data-wow-duration="2s">{{trick.name}}</h1>
                <p class="text-blue wow fadeInLeft" data-wow-duration="2s">Formulaire de modification</h1>
              </div>
            </div>
          </div>
          <!-- scroll down-->
          <div class="scrolldown">
             <a href="#list_tricks"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          </div><!-- End off scroll down -->
        </div>
      </section>

      <section class="trick_details_section">
        <div class="row trick_details">
          <div class="trick_list_medias">
              <div class="col-md-12 trick_medias">
                <div class="col-md-2">
                  <div class="trick">
                      <p>Médias trick</p>
                  </div>
                  <div class="trick_info_details pull-right">
                    <div class="trick_update">
                      <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                    <div class="trick_delete">
                      <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <div class="row trick_details">
          <div class="trick_description">
              <div class="col-md-12">
                  <p>Informations trick</p>
              </div>
          </div>
        </div>
     
        <div class="row trick_details">
          <div class="trick_description">
              <div class="col-md-12">
                  <p>Formulaire - Description trick</p>
              </div>
          </div>
        </div>
      </section>

      <a href="{{ path('tricks_home') }}" class="btn btn-primary btn-lg">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        Retour à la liste
      </a>

    </div>
  </div>
</div> <!--End off Home Sections-->


{% endblock %}
