{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajout Trick {% endblock %}

{% block sections_body %}

<div class="home_tricks">

  <div class="container content">
    <div class="row page-wrapper">

      <section class="trick_header">
        <div class="trick_info_details pull-right">
          <div class="trick_update">
            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </div>
          <div class="trick_delete">
            <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="trick_image">
          <div class="row">
            <div class="col-md-12">
              <div class="home_text">
                <h1 class="text-blue wow fadeInLeft" data-wow-duration="2s">Trick Name</h1>
                <p class="text-blue wow fadeInLeft" data-wow-duration="2s">Formulaire de création</h1>
              </div>
            </div>
          </div>
      
        </div>
      </section>

      <h5>Formulaire de création</h5>

      {{ include("TricksBundle:Trick:form.html.twig") }}

    </div>
  </div>
</div> <!--End off Home Sections-->


{% endblock %}
