  <p>
    Etes-vous certain de vouloir supprimer le trick "{{ trick.name }}" ?
  </p>
    
<form id="trick_delete_{{trick.id}}" action="{{ path('tricks_delete', {'id': trick.id}) }}" method="post">
  {# Ici j'ai écrit le bouton de soumission à la main #}
  <input type="submit" value="Supprimer" class="btn btn-danger" />
  </a>
  {# Ceci va générer le champ CSRF #}
  {{ form_rest(formDeleteTrick) }}
</form>