<h3>Bienvenue {{name}} !</h3>

<p>Pour activer votre compte il suffit de cliquer sur le lien suivant :</p>
<p><a href=""></a></p>
<p>Si le lien ne marche pas, il suffit de copier le lien ci-dessus et de le coller dans ton navigateur.</p>