{% extends "::layout.html.twig" %}

{% block sections_body %}

  <!-- Page Content -->
<div class="container login-page">
  <div class="row login-title">
        <div class="home_text">
            <h1 class="text-blue wow fadeInLeft" data-wow-duration="2s">Réinitialisation mot de passe</h1>
        </div>
  </div><!--End off row-->
  <div class="row page-wrapper-register">

{{ form_start(form) }}

    <div class="register-user">
      {{ form_row(form.plainPassword.first) }}
    </div>

    <div class="register-user">
      {{ form_row(form.plainPassword.second) }}
    </div>

    <div class="register-submit">
      <input type="submit" class="btn-login" value="Enregistrer nouveau mot de passe" />
    </div>

  {{ form_end(form) }}

 </div>
</div>

{% endblock %}
